#yay-png {
    display: block;
}

#sad-zpl {
    display: none;
};

#zpl-button {
    /* width: 30px; */
}

.zpl-img {
    border: 1px solid black;
    max-height: 95vh;
}

@media screen and (max-width: 500px) {
    #picture-holder {
        width: 100%;
    }
}