#yay-png {
    display: block;
}

#sad-zpl {
    display: none;
}

#picture-holder {
    width: 50%
}

.zpl-img {
    width: 100%;
}

@media screen and (max-width: 500px) {
    #picture-holder {
        width: 100%;
    }
}